<div class='container-fluid'>
  <div *ngIf="!hasUser()" class='card'>
    <div class="card-body">
      No Users - Click to Add
    </div>
  </div>
  <table *ngIf="hasUser()" class='table table-bordered'>
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile Number</th>
        <th>Location</th>
        <th>Options</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let user of peoples, index as i" >
          <td>{{i+1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.location}}</td>
          <td>
            <button color='primary' (click)= editClick(user.id)>EDIT</button> &nbsp;
            <button color='primary' (click)= deleteClick(user.id)>DELETE</button>
          </td>
        </tr>
      </tbody>
  </table>
  <button (click)=goToAddForm() class='fab' mat-fab color='primary'>
    <mat-icon>add</mat-icon>
  </button>
</div>


